<h1>Create Playlist</h1>

<form action="/playlist/createPlaylist" method="POST">
    <div >
        <label for="title" class="form-label">Title</label>
        <input type="text" class="form-control" id="title" name="title">
    </div>
    <button type="submit" class="btn btn-primary" value="Upload">Submit</button>
</form>